@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* box-shadow: 0 0 0 3px red inset; */
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #f5f5f5;
    color: #333;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1C5DA0;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
}


.navbar-logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.navbar-links {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
    margin-right: 60px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #1E90FF;
}

.container {
    /* margin-top: 10vh; */
    padding: 5vh 5vh  ;
    display: flex;
    flex-wrap: wrap;
    gap:5vh;
    justify-content: space-around;

}


.news {
    width: 70vh;
    height: 40vh;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img-news {
    position: absolute;
    margin-left: 30px ;
    margin-top: 30px;
    background-color: white;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

.title-news {
    font-size:4vh;
    align-self: flex-end;
    margin-right: 8vh;
    margin-top: 5vh;
}

.link-news {
    align-self: center;
    margin-bottom: 5vh;
}