@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
}


.navbar-logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.navbar-links {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
    margin-right: 60px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #1E90FF;
}

.contact-link {
    background-color: #1E90FF;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.contact-link:hover {
    background-color: #4682B4;
}

.contact-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 150px auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #4682B4;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #4682B4;
    outline: none;
}

.submit-button {
    padding: 15px;
    background-color: #4682B4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #1E90FF;
}

.contact-logo {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
    height: auto;
}

footer {
    background-color: #333;
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    margin-top: auto;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.footer-contact, .footer-social, .footer-copyright {
    margin: 5px 0;
    text-align: center; /* Centrer les textes */
}

.footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px; /* Réduction de l'espace entre les liens */
    justify-content: center;
    margin: 5px 0;
}

.footer-social a {
    color: #1E90FF;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-social a:hover {
    text-decoration: underline;
    color: #4682B4;
}

.footer-copyright {
    font-size: 0.9em;
    opacity: 0.8;
}